<div class="toolbox">

  <mat-card>
    <mat-card-header>
      Vocabulary
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        {{vocabularyId}}<ng-container *ngIf="isCustom(vocabularyId)">*</ng-container>

        <mat-icon fontIcon="expand_more"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let vocId of vocabularyIds" (click)="selectVocabulary(vocId)" mat-menu-item>
          {{vocId}}<ng-container *ngIf="isCustom(vocId)">*</ng-container>
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      Modify {{selectedCodes.selected.length}} code{{selectedCodes.selected.length == 1 ? '' : 's'}}
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="enableCodes(selectedCodes.selected)" [disabled]="selectedCodes.selected.length == 0">Enable</button>
      <button mat-stroked-button (click)="disableCodes(selectedCodes.selected)" [disabled]="selectedCodes.selected.length == 0">Disable</button>
      <button mat-stroked-button (click)="editTags(selectedCodes.selected)" [disabled]="selectedCodes.selected.length == 0">Tag</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="custom-codes-operations">
    <mat-card-header>
      Custom codes
      <!-- <mat-icon class="custom-code-icon" aria-label="Custom code" fontIcon="build"></mat-icon> -->
    </mat-card-header>
    <mat-card-actions>
      <!-- <button mat-stroked-button color="primary" (click)="selectAllCustomCodes()">Select</button> -->
      <button *ngIf="false" mat-stroked-button color="primary" (click)="importCustomCodeDialog()" matTooltip="TODO">Import</button>
      <button mat-stroked-button color="primary" (click)="addCustomCodeDialog()">Create</button>
      <button mat-stroked-button color="primary" (click)="editCustomCodeDialog()" [disabled]="!oneOrMoreCustomCodes(selectedCodes.selected)">Edit</button>
      <button mat-stroked-button color="warn" [disabled]="!oneOrMoreCustomCodes(selectedCodes.selected)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<table mat-table [dataSource]="codes">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                    [checked]="selectedCodes.hasValue() && isAllSelected()"
                    [indeterminate]="selectedCodes.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td [class.custom-code]="code.custom" mat-cell *matCellDef="let code">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selectedCodes.toggle(code) : null"
        [checked]="selectedCodes.isSelected(code)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let code">
      <mapping-code [code]="code"></mapping-code>
    </td>
  </ng-container>

  <ng-container matColumnDef="concepts">
    <th mat-header-cell *matHeaderCellDef>Concepts</th>
    <td mat-cell *matCellDef="let code">
      <div *ngFor="let conceptId of conceptIds(code)">
        <div *ngIf="mapping.concepts[conceptId]; let concept" matTooltip="{{conceptTooltip(concept)}}">
          <span class="conceptName">{{concept.name}}</span>
          ({{concept.id}})
          <mat-icon *ngIf="concept.tag" class="tag-indicator" fontIcon="label"></mat-icon>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="tag">
    <th mat-header-cell *matHeaderCellDef>Tag</th>
    <td mat-cell *matCellDef="let code">
      <mapping-tag *ngIf="code.tag != null" [tag]="code.tag"></mapping-tag>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>Comments</th>
    <td mat-cell *matCellDef="let code">
      <button
        *ngIf="getTopics(code.id); let topics"
        mat-stroked-button
        matTooltip='{{topics.tooltip()}}'
        (click)="showReviews(code.id)"
        class='btn-xs'>
        <mat-icon fontIcon="comment"></mat-icon>
        {{topics.numTopics()}}/{{topics.numMessages}}
        <span *ngIf="topics.numNewMessages > 0" class="num-new-messages">
          ({{topics.numNewMessages}})
        </span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let code; columns: columns;"></tr>
</table>
