<div class="toolbox">

  <mat-card>
    <mat-card-header>
      Vocabulary
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        {{vocabularyId}}<ng-container *ngIf="isCustom(vocabularyId)">*</ng-container>

        <mat-icon fontIcon="expand_more"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let vocId of vocabularyIds" (click)="selectVocabulary(vocId)" mat-menu-item>
          {{vocId}}<ng-container *ngIf="isCustom(vocId)">*</ng-container>
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      {{selected.length}} selected code{{selected.length == 1 ? '' : 's'}}
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="enableCodes(selected)" [disabled]="selected.length == 0">Enable</button>
      <button mat-stroked-button (click)="disableCodes(selected)" [disabled]="selected.length == 0">Disable</button>
      <button mat-stroked-button (click)="editTags(selected)" [disabled]="selected.length == 0">Tag</button>
      <button mat-stroked-button (click)="showDescendants(selected)" [disabled]="selected.length == 0">Descendants</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="custom-codes-operations">
    <mat-card-header>
      Custom codes
    </mat-card-header>
    <mat-card-actions>
      <!-- <button mat-stroked-button color="primary" (click)="selectAllCustomCodes()">Select</button> -->
      <button *ngIf="false" mat-stroked-button (click)="importCustomCodeDialog()" matTooltip="TODO">Import</button>
      <button mat-stroked-button (click)="addCustomCodeDialog()">Create</button>
      <button mat-stroked-button (click)="editCustomCodeDialog()" [disabled]="!oneOrMoreCustomCodes(selected)">Edit</button>
      <button mat-stroked-button color="warn" (click)="removeCustomCode(selected)" [disabled]="!oneOrMoreCustomCodes(selected)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<codes-table
  [vocabularyId]="vocabularyId"
  [mapping]="mapping"
  [codes]="codes"
  [showTags]="true"
  [allTopics]="allTopics"
  [reviewData]="reviewData"
  (selected)="setSelected($event)"
  (reviewRun)="reviewRun.emit($event)"
  ></codes-table>


