target
__pycache__
build
evaluation-ng
**/#*#
*.pyc
*.bak
WebContent
.ipynb_checkpoints
/.classpath
/.project
/.settings
.redo
/code-mapper-production.properties
/code-mapper-dev.properties
/src/main/resources/code-mapper.properties
