<mat-toolbar>
  <app-navigation [project]="projectName"></app-navigation>
  Mapping:&nbsp;<span (click)="dump()">{{mappingName}}<span *ngIf="fresh" matTooltip="Needs save">*</span> ({{projectName}}
  </span>)
  <ng-container *ngIf="mapping != null">
    <span class="menu-spacer"></span>
    <button
      (click)="undo()"
      [disabled]="mapping.undoStack.length == 0"
      matTooltip="{{undoTooltip()}}"
      mat-icon-button>
      <mat-icon>undo</mat-icon>
    </button>
    <button
      (click)="redo()"
      [disabled]="mapping.redoStack.length == 0"
      matTooltip="{{redoTooltip()}}"
      mat-icon-button>
      <mat-icon>redo</mat-icon>
    </button>
    <span matTooltip="Save the mapping">
      <button
        (click)="openDialog(saveDialog)"
        [disabled]="mapping.start == null || (!fresh && mapping.undoStack.length == 0)"
        mat-icon-button>
        <mat-icon>save<span *ngIf="fresh">*</span></mat-icon>
      </button>
    </span>
    <span matTooltip="Download the mapping">
      <button
        (click)="openDialog(downloadDialog)"
        [disabled]="fresh || mapping.undoStack.length > 0"
        mat-icon-button>
        <mat-icon>download</mat-icon>
      </button>
    </span>
  </ng-container>
  <app-loggedin></app-loggedin>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selectedIndex">

  <mat-tab label="Start">
    <div class="center-content" *ngIf="mapping.start == null">
      Start an event mapping either from a search for relevant concepts in free text.
    </div>
    <div class="center-content">
      <div *ngIf="mapping.start == null || isIndexing(mapping.start)">
        <h2>Search concepts in free text</h2>
        <indexer
          [initialIndexing]="mapping.start"
          [locked]="mapping.start != null"
          (confirmedIndexing)="setStartIndexing($event)"
          confirmLabel="Use selected concepts"
          class="center-content"></indexer>
      </div>
      <div *ngIf="isCsvImport(mapping.start)">
        <h2>CSV import</h2>
        <pre>{{mapping.start.csvContent}}</pre>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Concepts">
    <concepts
      *ngIf="!mapping.isEmpty()"
      [mapping]="mapping"
      [allTopics]="allTopics"
      (run)="run($event)"
      (reviewRun)="reviewRun($event)"></concepts>
  </mat-tab>
  <mat-tab label="Codes">
    <codes
      *ngIf="!mapping.isEmpty() && mapping.numVocabularies() > 0"
      [mapping]="mapping"
      [allTopics]="allTopics"
      (run)="run($event)"
      (reviewRun)="reviewRun($event)"></codes>
  </mat-tab>
  <mat-tab label="Vocabularies">
    <vocabularies *ngIf="!mapping.isEmpty()" [mapping]="mapping" (run)="run($event)"></vocabularies>
  </mat-tab>
  <!-- <mat-tab label="Review"> -->
  <!--   <reviews -->
  <!--     *ngIf="allTopics != null && !allTopics.isEmpty()" -->
  <!--     [topics]="topics.byConcept" -->
  <!--     [userIsEditor]="true" -->
  <!--     [concepts]="mapping.concepts" -->
  <!--     (run)="reviewRun($event)"></reviews> -->
  <!-- </mat-tab> -->
  <mat-tab label="History">
    <history
      *ngIf="!mapping.isEmpty()"
      [mapping]="mapping"
      [revisions]="revisions"
      [version]="version">
    </history>
  </mat-tab>
</mat-tab-group>

<ng-template #saveDialog>
  <h2 matDialogTitle>Save mapping</h2>
  <mat-dialog-content>
    <mat-form-field style="width:100%;">
      <mat-label>Summary</mat-label>
      <textarea rows="5" cols="30" #summary matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button
      mat-raised-button
      [disabled]="!summary.value"
      (click)="save(summary.value)"
      matDialogClose
      color="primary">Save</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #downloadDialog>
  <h2 matDialogTitle>Download event</h2>
  <mat-dialog-content>
    Download the event as TSV format (tab-separated values).
    <mat-checkbox #includeDescendants checked=true>Include descendant codes</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button
      mat-raised-button
      (click)="download(mapping, projectName, mappingName, includeDescendants.checked)"
      matDialogClose
      color="primary">Download</button>
  </mat-dialog-actions>
</ng-template>
