<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="File" fileName="${sys:catalina.base}/logs/code-mapper.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1} - %msg%n"/>
    </File>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.biosemantics.codemapper" level="DEBUG" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
