{% extends "admin/base_site.html" %}

{% block usertools %}
<a href="{% url 'admin:help' %}">&rarr; Help &larr;</a>
{% endblock %}

{% block content %}<div id="content-main">
<h1 id="help">Help</h1>
<p>With the CodeMapper administration you can add and remove projects and users in CodeMapper. This page is always available on the link → Help ← in the upper right corner.</p>
<h2 id="add-user">Add user</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/user/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/user/</a></li>
<li>Click <em>Add user</em>, fill in, optionally select related projects, and click <em>SAVE</em>.</li>
</ol>
<h2 id="add-project">Add project</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/project/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/project/</a></li>
<li>Click <em>Add project</em>, fill in, optionally select members, click <em>SAVE</em>.</li>
</ol>
<h2 id="add-user-to-project">Add user to project</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/project/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/project/</a></li>
<li>Select the project by clicking on it.</li>
<li>Under <em>MEMBERS</em>, select the user in an unitialized membership (“——–”).</li>
<li>Click <em>SAVE</em> on the bottom.</li>
<li>Inform the user that it is necessary to logout and login again to be able to access the project.</li>
</ol>
<h2 id="remove-user-from-project">Remove user from project</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/project/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/project/</a></li>
<li>Select the project by clicking on it.</li>
<li>Under <em>MEMBERS</em>, check the box on the right for all members that should be removed from the project.</li>
<li>Click <em>SAVE</em> on the bottom.</li>
</ol>
<h2 id="reset-codemapper-password-for-user">Reset CodeMapper password for user</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/user/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/user/</a></li>
<li>Select user to change by clicking on it.</li>
<li>Click <em>Reset password</em></li>
<li>Note down the four-word password shown in light-green message which appears on the top of the site: <em>Password of user XYZ was changed to: WORD WORD WORD WORD</em></li>
</ol>
<h2 id="delete-mapping">Delete mapping</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/codemapper/project/" class="uri">https://app.vac4eu.org/codemapper-admin/codemapper/project/</a></li>
<li>Select the project by clicking on it.</li>
<li>Under <em>MAPPINGS</em>, check the box on the right for all mappings that should be deleted</li>
<li>Click <em>SAVE</em> on the bottom.</li>
</ol>
<h2 id="create-new-admin-user-who-can-carry-out-the-above-tasks">Create new admin user who can carry out the above tasks</h2>
<ol style="list-style-type: decimal">
<li>Goto <a href="https://app.vac4eu.org/codemapper-admin/auth/user/" class="uri">https://app.vac4eu.org/codemapper-admin/auth/user/</a></li>
<li>Click <em>Add user</em>, fill in, and click <em>SAVE</em>.</li>
<li>Check <em>Superuser status</em>, and click <em>SAVE</em> on the bottom.</li>
</ol>
<p>Note: There are two types of users under <a href="https://app.vac4eu.org/codemapper-admin/" class="uri">https://app.vac4eu.org/codemapper-admin/</a>. The ones under <em>AUTHENTICATION AND AUTHORIZATION</em> are the administrator users, the ones under <em>CODEMAPPER</em> are the users of CodeMapper itself.</p>
</div>
{% endblock %}
