<a mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</a>
<mat-menu #menu="matMenu">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>Welcome
  </a>
  <a
    routerLink="/projects"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>All projects
  </a>
  <a
    *ngFor="let proj of projects | async"
    routerLink="/project/{{proj}}"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="list">remove</mat-icon><mat-icon class="marker">chevron_right</mat-icon>{{proj}}
  </a>
  <a
    routerLink="/news"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>News
  </a>
</mat-menu>
