
<div class="modal-header">
  <h3 class="modal-title">Save translations of <em ng-bind="caseDefinitionName"></em></h3>
</div>
<div class="modal-body ask-summary">
  <label for="summary">Please summarize your changes:</label>
  <textarea id="summary" cols=50 rows=8 ng-model="summary"></textarea>
  <div ng-grid="changesGridOptions" class="grid changes-grid"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save(summary)" ng-disabled="summary.length == 0">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>