
<div ng-keydown="onKeydown($event)" tabindex="0">

  <h4>Case definition <em ng-bind="caseDefinitionName"></em></h4>

  <ul class="list-unstyled icon-list messages">
    <li ng-repeat="message in messages | limitTo: -1" ng-bind="message.text"></li>
  </ul>
  
  <tabset>
    <tab id="coding-systems-tab" heading="1. Coding systems" ng-controller="CodingSystemsCtrl">
      <div block-ui="inputBlockUi">
        <label for='selectedVocabulariesList'>Selected:</label>
        <div id='selectedVocabulariesList'>
          <span ng-repeat="voc in selected.codingSystems" ng-bind="voc.abbreviation" ng-dblclick="unselect(voc.abbreviation)" class="vocabulary noselect"></span>
        </div>
        <label for='vocabulariesFilter'>Filter:</label>
        <input id='vocabulariesFilter' type="text" ng-model="gridOptions.filterOptions.filterText" />
        <div ng-grid="gridOptions" class="grid"></div>
      </div>
    </tab>
    
    <tab id="semantics-tab" heading="2. Semantic types" ng-controller="SemanticTypesCtrl">
      <div block-ui="inputBlockUi">
        <label for='selectedsemanticTypesList'>Selected:</label>
        <span ng-repeat="type in selected.semanticTypes" ng-bind="type.description" ng-dblclick="unselect(type)" class="semantic-type noselect" id='selectedsemanticTypesList'></span>
        <label for='samanticTypesFilter'>Filter:</label>
        <input id='samanticTypesFilter' type="text" ng-model="gridOptions.filterOptions.filterText" />
        <div ng-grid="gridOptions" class="grid"></div>
      </div>
    </tab>
    
    <tab id="case-definition-tab" heading="3. Case definition">
      <div block-ui="inputBlockUi">
        <textarea rows=35 cols=200 ng-model="$parent.$parent.caseDefinition"></textarea>
      </div>
    </tab>
    
    <tab id="concepts-tab" heading="4. Concepts">
      <div id="concept-buttons">
        <div ng-show="state">{{state.concepts.length}} concepts</div>
        <button ng-click="createInitalTranslations(caseDefinition)" ng-if="state == null" class="btn btn-default btn-sm" id="search-concepts">
          <i class="glyphicon glyphicon-refresh"></i>
          Create initial translations
        </button>
        <button ng-click="resetConcepts()" confirm-click="Really reset all translations?" ng-if="state" class="btn btn-default btn-sm" id="reset-concepts">
          <i class="glyphicon glyphicon-fire"></i>
          Reset
        </button>
        <button ng-click="saveTranslations()" ng-if="state" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-cloud-upload"></i>
          Save
        </button>
        <button ng-click="downloadConcepts()" ng-if="state" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-download"></i>
          Download (CSV)
        </button>
        <div ng-if="state">
         <input type="text" ng-model="searchQuery" id="searchQuery"></input>
         <button ng-click="searchAndAddConcepts(searchQuery)" class="btn btn-default btn-sm">
           <i class="glyphicon glyphicon-search"></i>
           Search & add concepts
         </button>
        </div>
      </div>
      <label for='conceptsFilter'>Filter:</label>
      <input id='conceptsFilter' type="text" ng-model="conceptsGridOptions.filterOptions.filterText" />
      <div ng-grid="conceptsGridOptions" class="grid"></div>
    </tab>
    
    <tab id="history-tab" heading="5. History">
      <div ng-grid="historyGridOptions" class="grid"></div>
    </tab>
  </tabset>
</div>