
<div id="code-mapper-mappings">
  
  <alert ng-if="message != null" type="success" close="unsetMessage()">
    {{message}}
  </alert>
  
  <tabset>

    <tab id="case-definition-tab" heading="Case definition" ng-controller="CaseDefinitionCtrl">
      <div ng-if="state.mapping != null" class="info"><i class="glyphicon glyphicon-info-sign"></i> Discard the mapping to edit the case definition.</div>
      <div ng-if="state.indexing == null">
        <button ng-click="createIndexing(text)" class="btn btn-primary btn-xs block">Search concepts</button>
        <hr/>
        <textarea rows=35 cols=200 ng-model="text" class="case-definition"></textarea>
      </div>
      <div ng-if="state.indexing != null">
        <button ng-if="state.mapping == null" ng-click="resetIndexing()" class="btn btn-primary btn-xs block">Edit case definition</button>
        <div ng-if="state.mapping == null" class="info"><i class="glyphicon glyphicon-info-sign"></i> Only concepts with yellow background are included; click concepts to include or exclude.</div>
        <hr/>
        <div id="highlightedCaseDefinition"></div>
      </div>
    </tab>
    
    <tab id="concepts-tab" heading="Mapping" disabled="state.indexing == null"
      ng-click="state.mapping != null || createInitalTranslations(caseDefinition)"
      title="{{state.indexing == null ? 'Index case definition first!' : ''}}">

      <button ng-click="createInitalTranslations(caseDefinition)"
            ng-if="state.mapping == null"
            class="btn btn-primary center-block"
            id="search-concepts">
        <i class="glyphicon glyphicon-refresh"></i>
        Generate initial mapping
      </button>
    
      <div ng-if="state.mapping" class="concepts-controls row">
       
       <div class="filters col-md-2" title="Filter the list of concepts">
         <label class="ctrl-heading">{{state.mapping.concepts.length}} concept<span ng-if="state.mapping.concepts.length != 1">s</span>*</label>
         <input title="Filter displayed concepts" placeholder="Filter" type="text" ng-model="conceptsGridOptions.filterOptions.filterText" />
       </div>
        
        <div class="modify-concepts col-md-4" ng-if="userCanEdit()">
          <label title="Click a row to select the concept. Use control and shift keys to select multiple concepts." class="ctrl-heading">
            Modify {{selectedConcepts.length}} selected concept<span ng-if="selectedConcepts.length != 1">s</span>*
          </label>
          <button class='btn btn-xs btn-default'
          	ng-click='operationDeleteConcepts(selectedConcepts)'
          	confirm-click="Delete selected concepts?"
         	ng-disabled="selectedConcepts.length == 0" title='Delete concepts'> 
            <i class='glyphicon glyphicon-remove-circle'></i>
            Delete*
          </button>
          
          <div class='btn-group'> 
              <button class='btn btn-xs btn-default'
              	ng-click='operationExpandRelatedConcepts(selectedConcepts, ["PAR", "RB"], "broader")'
              	ng-disabled="selectedConcepts.length == 0"
              	title='Expand selected concepts to broader categories, i.e. generalize the concepts'> 
                <i class='glyphicon glyphicon-chevron-up'></i>
                Broader*
              </button> 
<!--               <button class='btn btn-xs btn-default' -->
<!--               	ng-click='operationExpandRelatedConcepts(selectedConcepts, ["SIB"], "siblings")' -->
<!--               	ng-disabled="selectedConcepts.length == 0" -->
<!--               	title='Expand selected concepts to its siblings'>  -->
<!--                 <i class='glyphicon glyphicon-resize-horizontal'></i> -->
<!--                 Siblings* -->
<!--               </button>  -->
              <button class='btn btn-xs btn-default'
              	ng-click='operationExpandRelatedConcepts(selectedConcepts, ["CHD", "RN"], "narrower")'
              	ng-disabled="selectedConcepts.length == 0"
              	title='Expand selected concepts to its subtypes, i.e. specialize the concepts'> 
                <i class='glyphicon glyphicon-chevron-down'></i>
                Narrower*
              </button> 
          </div>
          
          <button class='btn btn-xs btn-default'
                  ng-click='operationSuggestConcepts(selectedConcepts)'
                  ng-disabled='selectedConcepts.length == 0'
                  title='Suggest related concepts that fill unbalanced codes'>
            <i class='glyphicon glyphicon-resize-full'></i>
            Suggest*
          </button> 
          
          <button class="btn btn-xs btn-default" ng-click="operationEditTags(selectedConcepts, state.mapping.concepts)" ng-disabled="selectedConcepts.length == 0" title="Edit tags for selected concepts">
            <i class='glyphicon glyphicon-tag'></i>
            Tags*
          </button>
          
          <button class="btn btn-xs btn-default" ng-click="operationEditCodes(selectedConcepts)" ng-disabled="selectedConcepts.length == 0"
          	title="Show and disable individual codes of the selected concepts">
            <i class='glyphicon glyphicon-edit'></i>
            Codes*
          </button>
        </div>
        
        <div class="add-concepts col-md-3" ng-if="userCanEdit()"
        	   title="Search and add concepts by CUI, code or term. Concepts that match a CUI or code are shown in dropdown, optionally with vocabulary as prefix (e.g., ICD9:780). Use the search button to retrieve all concepts that mention the query text.">
          <label class="ctrl-heading">Search and add concept*</label>
          <input type="text" ng-model="searchQuery" 
            placeholder="Query"
            typeahead="c.preferredName for c in autocompleteConcepts($viewValue)"
            typeahead-on-select="searchAndAddConceptDirect($item); searchQuery = ''"
            typeahead-wait-ms=250
            typeahead-min-length=3
            typeahead-focus-first=false
            ></input>
          <button
            ng-click="searchAndAddConcepts(searchQuery)"
            ng-disabled="!searchQuery" class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-search"></i>Search
          </button>
        </div>
        
        <div class="on-case-definition col-md-3" ng-if="userCanEdit()">
          <label class="ctrl-heading">Operate on mapping</label>
          <button title="Hide, show, add, and remove coding systems" ng-click="changeCodingSystems()" class="btn btn-xs btn-default">
              <i class="glyphicon glyphicon-asterisk"></i>
              Coding systems*
          </button>
          <button title="Save the mapping online (comments are always save)" ng-click="saveMapping()" ng-disabled="numberUnsafedChanges == 0" class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Save<span ng-if="numberUnsafedChanges > 0"> {{numberUnsafedChanges}} change<span ng-if="numberUnsafedChanges != 1">s</span></span>*
          </button>
          <span class="dropdown">
            <button class="btn btn-xs btn-default dropdown-toggle"
                    type="button" data-toggle="dropdown"
                    title="Download the mapping in a file. This can take some time. If the request times out, please try again a little later."
                    ng-disabled="numberUnsafedChanges > 0">
              <i class="glyphicon glyphicon-cloud-download"></i>
              Download*
            </button>
            <div class="download dropdown-menu">
              <div>
                <h6 class="dropdown-header">With descendant codes</h6>
                <button class="btn btn-xs btn-default" ng-click="downloadConcepts('tsv', true)">TSV (Text)</button>
                <button class="btn btn-xs btn-default" ng-click="downloadConcepts('xls', true)">XLS (Excel)</button>
                <h6 class="dropdown-header">Without descendant codes</h6>
                <button class="btn btn-xs btn-default" ng-click="downloadConcepts('tsv', false)">TSV (Text)</button>
                <button class="btn btn-xs btn-default" ng-click="downloadConcepts('xls', false)">XLS (Excel)</button>
              </div>
            </div>
          </span>
          <button title="Discard the mapping - all changes will be lost" ng-click="discardMapping()" confirm-click="Do you really want to discard the current mapping? All manual changes to the mapping will be lost." class="btn btn-xs btn-default" id="reset-concepts">
            <i class="glyphicon glyphicon-fire"></i>
            Discard*
          </button>
        </div>
      </div>
       
      <div ng-grid="conceptsGridOptions" class="grid concepts-grid" ng-if="state.mapping"></div>
    </tab>

    <tab id="review-tab" heading="Review" disabled="state.mapping == null">
      <button ng-click="refreshReview()" class="btn btn-primary">Refresh</button>
      <div ng-if="topicsByCui" class="topics-by-cui">
        <section ng-repeat="(cui, topics) in topicsByCui track by $index" class="topic-by-cui" id="topics-{{cui}}">
          <h2 class="review-cui-concept"><span ng-if="topics.conceptName" ng-bind="topics.conceptName"></span> ({{cui}})</h2> 
          <section class="topic" id="topic-{{topic.id}}" ng-repeat="topic in topics.topics" ng-class="{resolved: topic.resolved != null}">
            <h3 class="topic-heading" ng-click="toggleTopicShowMessages(topic.id)">
            <span class="topic-heading-heading">{{topic.heading || "(No topic)"}}.</span>
            {{topic.numNewMessages + topic.numReadMessages}} <ng-pluralize count="topic.numNewMessages + topic.numReadMessages" when="{'1': 'message', 'other': 'messages'}"></ng-pluralize>
            <span ng-if="!topic.resolved && topic.numNewMessages > 0">
              , <span class="num-new-messages">{{topic.numNewMessages}} unread</span>
            </span>.
            Created by
            <span class="comment-author" ng-bind="topic.created.user || 'unknown'"></span>
            <span class="comment-timestamp" ng-bind="topic.created.timestamp | date:'mediumDate'"
                  title="{{topic.resolved.timestamp|date:'medium'}}"></span>.
            <span ng-if="topic.resolved">
              Resolved by
              <span class="comment-author" ng-bind="topic.resolved.user"></span>
              <span class="comment-timestamp" ng-bind="topic.resolved.timestamp | date:'mediumDate'" 
                    title="{{topic.resolved.timestamp|date:'medium'}}"></span>.
            </span>
            <span ng-if="topicShowMessages[topic.id]" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-if="!topicShowMessages[topic.id]" class="glyphicon glyphicon-chevron-right"></span>
            </h3>
            <div ng-if="topicShowMessages[topic.id]">
              <div>
                <button ng-if="!topic.resolved" ng-disabled="!userCanEdit() && topic.created.user != user.user" title="Resolve this topic, preventing further messages" ng-click="resolveTopic(cui, topic.id)" confirm-click="Mark this topic as resolved and disable further messages?" class="topic-button btn btn-sm btn-secondary">Resolve topic</button>
                <button ng-if="topic.numNewMessages > 0 && topic.resolved == null" ng-click="markAsRead(cui, topic.id)" class="topic-button btn btn-sm btn-secondary">Mark all as read</button>
              </div>
              <ul class="messages" ng-class="{resolved: topic.resolved != null}">
                <li ng-repeat="message in topic.messages" ng-class="{'new-message': !message.isRead && topic.resolved == null}" class="message"> <!--  ng-class="{new: (!message.isRead)" -->
                  <span class="comment-author" ng-if="message.username != user.username" ng-bind="message.username"></span>
                  <span class="comment-author" ng-if="message.username == user.username">me</span>
                  <span class="comment-timestamp" ng-bind="message.timestamp | date:'mediumDate'" 
                        title="{{comment.timestamp|date:'medium'}}"></span>:
                  <span class="comment-content" ng-bind="message.content"></span>
<!--                   <span ng-if="!message.isRead"> (new)</span> -->
                </li>
                <li ng-if="topic.resolved == null">
                  <textarea placeholder="(new message)" ng-model="newMessageText[cui][topic.id]" ng-class="{filled: !!newMessageText[cui][topic.id]}" ng-disabled="reviewInputDisabled" class="review-message" cols="72" rows="1">
                  </textarea>
                  <button ng-click="newMessage(cui, topic.id, newMessageText[cui][topic.id])" ng-disabled="!newMessageText[cui][topic.id]" class="btn btn-primary">Send</button>
                </li>
              </ul>
            </div>
          </section>
          <section class="topic">
          <input placeholder="(topic description)" type="text" ng-model="newTopicHeading[cui]" ng-disabled="reviewInputDisabled"></input>
          <button ng-click="newTopic(cui, newTopicHeading[cui])" ng-disabled="!newTopicHeading[cui]" class="btn btn-primary">Create new topic</button>
          </section>
        </section>
        </div>
	</tab>
    
    <tab id="history-tab" heading="History" disabled="state.mapping == null" select="updateHistoryGridStyle()" title="{{state.mapping == null ? 'Create mapping first!' : ''}}">
      <div ng-grid="historyGridOptions" class="grid history-grid"></div>
    </tab>
  </tabset>
</div>
