<div>
  <button title='Show and create comments' class='btn btn-default btn-xs'
          ng-click='showComments(row.entity)'
          ng-disabled='row.entity.comments | isUndefined'>
    <i class='glyphicon glyphicon-comment'></i>
    <span class='subscript'
          ng-if='row.entity.comments'
          ng-bind='row.entity.comments.length'></span>
  </button>
  <i class='glyphicon glyphicon-option-horizontal'
     ng-if='row.entity.comments | isUndefined'></i>
</div>
<div>
  <span ng-if="conceptWarnings.missingCodes[row.entity.cui]"
        title="Missing codes for {{conceptWarnings.missingCodes[row.entity.cui].join(', ')}}">
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span class="supsub">
          <span class="superscript">M</span>
          <span class="subscript" ng-bind="conceptWarnings.missingCodes[row.entity.cui].length"></span>
      </span>
  </span>
  <span ng-if="conceptWarnings.subsumedCodes[row.entity.cui]"
        title="Codes of this concepts are subsumed by codes from other concepts: {{conceptWarnings.subsumedCodes[row.entity.cui].join(', ')}}">
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span class="supsub">
          <span class="superscript">S</span>
          <span class="subscript" ng-bind="conceptWarnings.subsumedCodes[row.entity.cui].length"></span>
      </span>
  </span>
</div>
