<div>
  <button title='Show and create comments ({{topicsByCui[row.entity.cui].topics.length}} topics, {{topicsByCui[row.entity.cui].numReadMessages + topicsByCui[row.entity.cui].numNewMessages}} messages, {{topicsByCui[row.entity.cui].numNewMessages}} new messages)' ng-click="navigateToComments(row.entity.cui)" class='btn btn-default btn-xs'>
    <i class='glyphicon glyphicon-comment'></i>
    {{topicsByCui[row.entity.cui].topics.length}}/{{topicsByCui[row.entity.cui].numReadMessages + topicsByCui[row.entity.cui].numNewMessages}}
    <span ng-if="topicsByCui[row.entity.cui].numNewMessages > 0" class="num-new-messages">
      ({{topicsByCui[row.entity.cui].numNewMessages}})
    </span>
  </button>
</div>
<div ng-if="false">
  <span ng-if="conceptWarnings.missingCodes[row.entity.cui]"
        title="Missing codes for {{conceptWarnings.missingCodes[row.entity.cui].join(', ')}}">
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span class="supsub">
          <span class="superscript">M</span>
          <span class="subscript" ng-bind="conceptWarnings.missingCodes[row.entity.cui].length"></span>
      </span>
  </span>
  <span ng-if="conceptWarnings.subsumedCodes[row.entity.cui]"
        title="Codes of this concepts are subsumed by codes from other concepts: {{conceptWarnings.subsumedCodes[row.entity.cui].join(', ')}}">
      <i class="glyphicon glyphicon-warning-sign"></i>
      <span class="supsub">
          <span class="superscript">S</span>
          <span class="subscript" ng-bind="conceptWarnings.subsumedCodes[row.entity.cui].length"></span>
      </span>
  </span>
</div>
