<div class="modal-header">
  <h3 class="modal-title">Edit codes</h3>
</div>
<div class="modal-body">
  Select the codes to for the concepts.
  <label for='dialogConceptsFilter'>Filter:</label>
  <input id='dialogConceptsFilter' type="text" ng-model="gridOptions.filterOptions.filterText" />
  <div ng-grid="gridOptions" class="grid codes-grid"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>