<div class="modal-header">
 <h3 class="modal-title">Edit tags for concept {{concepts|showConcepts}}</h3>
</div>
<div class="modal-body">
 <h4>Selected tags:</h4>
 <ul class="comma-separated">
  <li ng-repeat="tag in tags">
    <span class="tag">{{tag}} <i class="glyphicon glyphicon-remove" title="Remove tag" ng-click="remove(tag)"></i></span>
  </li>
  </ul>
 <h4>Available tags:</h4>
 <ul class="comma-separated">
  <li ng-repeat="tag in offTags">
   <span class="tag">{{tag}} <i class="glyphicon glyphicon-plus" title="Add tag" ng-click="add(tag)"></i></span>
  </li>
 </ul>
 <form>
  <input type="text" ng-model="newTag"></input>
  <button class="btn btn-primary btn-xs"
      ng-click="add(newTag)"
      ng-disabled="!validNewTag(newTag, tags)"
      title="Create new tag">
   <i class="glyphicon glyphicon-plus"></i>
   New tag
  </button>
  <span class="hint">(Only letters, numbers, underscores and dashes. Only tags starting with capitals are exported.)</span>
 </form>
</div>
<div class="modal-footer">
 <button class="btn btn-primary" ng-click="ok()">OK</button>
 <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>