<div>
    <h3>
    CodeMapper: Semi-automatic coding of case definitions
    </h3>

    <p>
    CodeMapper assists in the creation of code sets from case definitions, for
    several coding systems simultaneously while keeping a record of the complete
    mapping process. Its workflow is structured in three steps:
    </p>

    <p>
    CodeMapper is running on <a href="https://euadr.erasmusmc.nl/CodeMapper">https://euadr.erasmusmc.nl/CodeMapper</a>.
    Please send an email to b.becker@erasmusmc.nl for access.
    </p>

    <p>
    A <a href="https://mieur.sharepoint.com/IPCI/CODEMAPPER/Shared%20Documents/CodeMapper.pptx?d=w209e699b6f8c4340b9dcd98532635787">presentation</a>
    describes the concepts, and shows the user interface with a walk-through.
    More details about the background, implementation, and effectiveness of the
    approach are documented in our article:
    </p>

    <cite>
    Becker BFH, Avillach P, Romio S, van Mulligen EM, Weibel D, Sturkenboom
    MCJM, Kors J: CodeMapper: Semi-automatic coding of case definitions. A
    contribution from the ADVANCE project. Pharmacoepidemiology and Drug
    Safety 2017. doi:10.1002/pds.4245
    (<a href="http://onlinelibrary.wiley.com/doi/10.1002/pds.4245/epdf">link</a>)
    </cite>
</div>
