<div>
  <span ng-bind="username"></span>
  <ul>
    <li ng-repeat="project in projects">
      <h5>Project <em ng-bind="project"></em></h5>
      <ul>
        <li>
          <input type="text" ng-model="newCaseDefinition"></input>
          <a href="#projects/{{project|encodeUriComponent}}/{{newCaseDefinition|encodeUriComponent}}">Create!</a>
        </li>
        <li ng-repeat="caseDefinition in caseDefinitions[project]">
          <a href="#projects/{{project|encodeUriComponent}}/{{caseDefinition|encodeUriComponent}}" ng-bind="caseDefinition"></a>
        </li>
      </ul>
    </li>
  </ul>
</div>