<div>
  <div ng-repeat="project in projects">
    <h3>Project {{project}}</h3>
    Case definitions:
    <ul>
      <li ng-repeat="caseDefinition in caseDefinitions[project]">
        <a href="#/case-definition/{{project|encodeUriComponent}}/{{caseDefinition|encodeUriComponent}}" ng-bind="caseDefinition"></a>
      </li>
      <li>
        <form>
          <input type="text" ng-model="newNames[project]"></input>
          <button class="btn btn-primary btn-sm" ng-click="create(project, newNames[project])" ng-disabled="!validNewName(project, newNames[project])">Create new</button>
        </form>
      </li>
    </ul>
  </div>
</div>