
<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div ng-if="message" ng-bind="message"></div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2">
      <label for='dialogConceptsFilter'>Filter concepts:</label>
      <input id='dialogConceptsFilter' type="text" ng-model="conceptsGridOptions.filterOptions.filterText" />
    </div>
    <div class="col-md-2">
      <label>Selected {{conceptsGridOptions.$gridScope.selectedItems.length}} of {{concepts.length}} concepts</label>
    </div>
  </div>
  <div ng-grid="conceptsGridOptions" class="grid selection-grid" ng-style="gridStyle"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Insert</button>
  <button class="btn btn-warning" ng-if="selectable" ng-click="cancel()">Cancel</button>
</div>