
<div class="modal-header">
  <h3 class="modal-title">Comments on {{concept.preferredName}}</h3>
</div>
<div class="modal-body ask-summary">
  <p class="alert alert-info" ng-if='!canEnterNewComment'>
  		You have to save the mapping to enter a new comment.
  </p>
  <ul>
  	<li ng-repeat="comment in concept.comments">
  		<span class="comment-author" ng-bind="comment.author"></span>
  		<span class="comment-timestamp" ng-bind="comment.timestamp | date:'mediumDate'" 
  			title="{{comment.timestamp|date:'medium'}}"></span>
  		<div class="comment-content" ng-bind="comment.content"></div>
  	</li>
    <li class="new-comment" ng-if='canEnterNewComment'>
        <textarea ng-model="newComment.text" cols="120" rows="4">
        </textarea>
        <button class="btn btn-primary block" ng-click="save(newComment)" ng-if='canEnterNewComment' ng-disabled="!newComment.text">Send</button>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>