@CHARSET "UTF-8";

.flag {
  padding: 1em;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.grid {
	border: 1px solid red;
	height: 500px;
}
.concepts-grid, .history-grid, .selection-grid, .semantic-types-grid, .coding-systems-grid, .selection-grid, .changes-grid {
	margin-top: 1em;
	height: 600px;
}
textarea.case-definition {
	height: 600px;
}
body {
	padding: 1em;
}
.strong {
	font-weight: bold;
}
.spans {
	max-width: 15em;
}
.concept-buttons {
	max-width: 10em;
	white-space: nowrap;
}
.concept-controls {
	padding-top: 1em;
}
.filters label, .modify-concepts label, .on-case-definition label, .add-concepts label {
	display: block;
}
.concept-buttons * {
	display: inline;
}
.span, .code, .cui, .vocabulary, .semantic-type, .semantic-group {
  display: inline-block;
  margin: 0.2em;
  padding: 2px 5px;
  font-size: 12px;
}
.cui, .code, .vocabulary {
  background-color: #ECECEC;
  border: 1px solid #adadad;
  border-radius: 3px;
}
.semantic-type, .semantic-group {
  background-color: #D8ECFF;
  border: 1px solid #adadad;
  border-radius: 3px;
}
.span {
  background-color: #FFFCAB;
  max-width: 15em;
}
.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}
.messages li:before {
 content: '\e080';
}
.messages {
  font-size: smaller;
}
.concept-name {
	max-width: 20em;
	display: block;
}

.cellToolTip {
  overflow: visible;
}

.tooltip {
  top: 0 !important;
  width: 40em;
}

.tooltip-inner {
  text-align: left;
}

.tooltip-inner a {
  color: white;
}

.ngRow.selected.even {
  background-color: #C4E0E6;
}
.ngRow.selected.odd {
	background-color: #D1E9EE;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-dialog {
	width: 80%;
}
#concept-buttons {
	text-align: center;
}
#caseDefinition {
	margin-top: 0.5em;
}
#caseDefinitionName {
	display: block;
}
.emphasize {
	font-style: italic;
}
.ngCell.scroll-y {
	overflow-y: scroll;
  overflow: -moz-scrollbars-none;
}

div[block-ui=inputBlockUi] .block-ui-container {
	cursor: not-allowed;
}

.username {
	font-style: italic;
}
.dropdown-menu {
	text-align: left;
}