@CHARSET "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.woff2);
    font-weight: bold;
}
.flag {
  padding: 1em;
}
html, body {
  font-family: Montserrat;
  height: 100%;
	padding: 0;
	margin: 0;
}
html {
    overflow-x: hidden;
}
p body {
    color: #5E7682;
    font-size: 13px;
    font-height: 1.5;
}
a {
    color: #104987;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #A1C517;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
}
h2 {
    color: #104987;
    font-weight: medium;
    font-size: 20px;
    line-height: 1.2;
}
h3 {
    color: #104987;
    font-size: 15px;
    line-height: 1.5;
}

.concepts-grid, .history-grid, .semantic-types-grid, .coding-systems-grid  {
	margin-top: 1em;
	height: 600px;
}
.selection-grid, .codes-grid {
	height: 500px;
}
.changes-grid {
	height: 400px;
}
.concepts-grid {
    overflow-y: hidden;
}
.concepts-grid .ngViewport {
    overflow-x: hidden;
}
.concept-name {
    overflow: auto;
    hyphens: auto;
    height: 70px;
    scrollbar-width: thin; /* Chrome 98 / Firefox 95 */
}
textarea.case-definition {
	height: 600px;
	width: 72em;
}
#highlightedCaseDefinition {
  height: 600px;
  width: 72em;
  overflow: scroll;
  border: 1px solid #aaa;
}
#search-concepts {
	margin-top: 1em;
}
body {
	padding: 1em;
}
label.ctrl-heading {
  display: block;
}
.strong {
	font-weight: bold;
}
.spans {
	max-width: 15em;
}
.concept-buttons {
	max-width: 10em;
	white-space: nowrap;
}
.concept-controls {
	padding-top: 1em;
}
.concept-buttons * {
	display: inline;
}
.span, .code, .cui, .vocabulary, .semantic-type, .semantic-group {
  display: inline-block;
  margin: 0.2em;
  padding: 2px 5px;
  font-size: 12px;
}
.code-id {
 /*font-style: italic;*/
 font-weight: bold;
}
.cui, .code, .vocabulary {
  border: 1px solid #adadad;
  border-radius: 3px;
}
.vocabulary-shown {
	background-color: #DCDCDC;
}
.vocabulary-hidden {
	background-color: #DCDCDC;
}
.glyphicon-remove {
	cursor: pointer;
}
.concepts-grid .code {
	display: block;
}
.comment-timestamp::before {
	content: "(";
}
span.supsub {
  position: relative;
  top: 0.5em;
  display: inline-block;
  font-size: x-small;
}
span.supsub > .superscript,
span.supsub > .superscript {
  display: table-row;
}
.comment-timestamp::after {
	content: ")";
}
.comment-content {
	white-space: pre-wrap;
	width: 100%;
	max-width: 55em;
}
.new-comment textarea {
   width: 100%;
   max-width: 55em;
}
.new-comment button {
 display: block;
}
.comment-author {
	font-style: italic;
}
.code.unselected {
	text-decoration: line-through;
}
.new-comment textarea, .new-comment button {
	vertical-align: top;
}
.semantic-type, .semantic-group {
  background-color: #ffdac6;
  border: 1px solid #adadad;
  border-radius: 3px;
}
.span {
  background-color: #FFFCAB;
  max-width: 15em;
}

.concept-name {
	max-width: 20em;
	display: block;
}

.cellToolTip {
  overflow: visible;
}

.tooltip {
  top: 0 !important;
  width: 40em;
}

.tooltip-inner {
  text-align: left;
}

.tooltip-inner a {
  color: white;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-dialog {
	width: 80%;
}
#concept-buttons {
	text-align: center;
}
#caseDefinition {
	margin-top: 0.5em;
}
#caseDefinitionName {
	display: block;
}
.emphasize {
	font-style: italic;
}
div[block-ui=inputBlockUi] .block-ui-container {
	cursor: not-allowed;
}
ul {
	padding-left: 20px;
}
ul.comma-separated, ul.bullet-separated {
	padding-left: 0;
}
ul.comma-separated li, ul.bullet-separated li {
	display: inline;
}
ul.comma-separated li:before {
	content: ", ";
}
ul.bullet-separated li:before {
    content: " \002022  ";
}
ul.comma-separated li:first-child:before, ul.bullet-separated li:first-child:before {
  content: "";
}

ul.tags {
  padding: 0;
}
ul.tags li {
  display: inline;
}
ul.tags li::before {
  content: "";
}
span.tag {
  background-color: #aae097;
  border: 1px solid #53bf3f;
  border-radius: 3px;
}
.username {
	font-style: italic;
}
.dropdown-menu {
	text-align: left;
	min-width: 200px;
}
.advance-code-mapper-title {
	margin: 0;
}
.subtitle {
	margin-top: 0;
	margin-bottom: 0;
}
.subsubtitle {
    font-style: italic;
    margin-bottom: 0;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.overview hr {
    border-top: 1px solid rgba(100,100,100,100);
}
.active a {
	font-style: italic;
}

.highlight .concept {
  display: inline-block;
  padding: 1px 1px 1px 1px;
  border-radius: 5px;
}

.highlight .concept.disabled {
  border: 1px solid #d3d3d3;
}

.highlight .concept.enabled {
	background-color: #fff091;
  border: 1px solid grey;
}

.block {
  display: block;
}
.info {
	font-style: italic;
	margin-left: 1em;
}


.ngCell.scroll-y {
    overflow-y: auto;
}
.ngRow.selected.even {
  background-color: #C4E0E6;
}
.ngRow.selected.odd {
	background-color: #D1E9EE;
}
.ngAggregate {
	background-color: #BFBFBF;
}
.project-members {
	font-size: smaller;
}
div.alert {
 padding: 5px 30px 5px 5px;
}
/* img.comap-logo { */
/*   margin: 1em 0em 1em 0em; */
/* } */
img.advance-logo {
  margin-bottom: 0.5em;
}
.hint {
   color: #8e8e8e;
}
.coding-systems-options tr, .coding-systems-options th {
    padding-top: 0px;
    padding-right: 0.4em;
    padding-bottom: 0px;
    padding-left: 0.4em;
}

.footer {
    font-size: x-small;
}
