<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="CodeMapper" version="3.0">
  <display-name>CodeMapper</display-name>
  <session-config>
    <session-timeout>525600</session-timeout>
    <cookie-config>
      <max-age>31536000</max-age>
    </cookie-config>
  </session-config>
  <filter>
    <filter-name>noCache</filter-name>
    <filter-class>com.samaxes.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noCache</filter-name>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/style.css</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/partials/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>cors</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Configuration of CodeMapper in src/main/resources/code-mapper.properties -->
</web-app>