<div class="reviews-concept">
  <h2>
    <span>{{heading}}</span>
    ({{ topicsInfo.numTopics() }} topics, {{ topicsInfo.numMessages }} messages<ng-template [ngIf]="topicsInfo.numNewMessages > 0">, {{ topicsInfo.numNewMessages }} new</ng-template>)
  </h2>
  <section
    *ngFor="let topic of topicsInfo.topics | keyvalue"
    id="topic-{{topic.key}}"
    class="topic existing mat-elevation-z3"
    [class.resolved]="topic.value.resolved != null">
    <h3 class="topic-heading" (click)="toggleTopicShowMessages(topic.key)">
      <span class="topic-heading-heading">Topic: {{topic.value.heading || "(none)"}}.</span>
      {{topic.value.numMessages}}
      <span [ngPlural]="topic.value.numMessages">
        <ng-template ngPluralCase="=1">message</ng-template>
        <ng-template ngPluralCase="other">messages</ng-template>
      </span>
      <span *ngIf="topic.value.numNewMessages > 0">
        (<span class="num-new-messages">{{topic.value.numNewMessages}} unread</span>)</span>.
      Created by
      <span class="message-author">{{topic.value.created.user}}</span>
      on
      <span class="message-timestamp" matTooltip="{{topic.value.created.timestamp|date:'medium'}}">{{topic.value.created.timestamp | date:'mediumDate'}}</span>.
      <span *ngIf="topic.value.resolved">
        Resolved by
        <span class="message-author">{{topic.value.resolved.user}}</span>
        on
        <span class="message-timestamp" matTooltip="{{topic.value.resolved.timestamp|date:'medium'}}">{{topic.value.resolved.timestamp | date:'mediumDate'}}</span>.
      </span>
      <span *ngIf="data.topicShowMessages[topic.key]">
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </span>
      <mat-icon
        *ngIf="!data.topicShowMessages[topic.key]"
        fontIcon="keyboard_arrow_right"></mat-icon>
    </h3>
    <div *ngIf="data.topicShowMessages[topic.key]">
      <button
        mat-raised-button
        *ngIf="topic.value.numNewMessages > 0 && topic.value.resolved == null"
        (click)="markAsRead(topic.key)"
        class="btn-xs">
        <mat-icon fontIcon="mark_chat_read"></mat-icon>
        Mark topic as read
      </button>
      <button
        mat-raised-button
        *ngIf="!topic.value.resolved"
        (click)="resolveTopic(topic.key)"
        [disabled]="!userIsEditor && topic.value.created.user != 'me'"
        matTooltip="Resolve this discussion, preventing further messages"
        class="btn-xs">
        <mat-icon fontIcon="done"></mat-icon>
        Resolve topic
      </button>
      <ul class="messages" [class.resolved]="topic.value.resolved != null">
        <li *ngFor="let message of topic.value.messages" [class.new-message]="!message.isRead && topic.value.resolved == null" class="message"> <!--  ng-class="{new: (!message.isRead)" -->
          <span class="message-author">{{message.username}}</span>
          on
          <span class="message-timestamp" matTooltip="{{message.timestamp|date:'medium'}}">{{message.timestamp | date:'mediumDate'}}</span>:
          <span class="message-content" [class.newline]="message.hasNewline">{{message.content}}</span>
        </li>
      </ul>
      <div *ngIf="topic.value.resolved == null" class="post-message">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Reply</mat-label>
          <textarea
            matInput
            [(ngModel)]="data.newMessageText[topic.key]"
            [class.filled]="data.newMessageText[topic.key]"
            rows=1
            class="review-message">
          </textarea>
        </mat-form-field>
        <button
          mat-raised-button
          (click)="newMessage(topic.key, data.newMessageText[topic.key])">
          <mat-icon fontIcon="send"></mat-icon> Send
        </button>
      </div>
    </div>
  </section>
  <section class="topic new">
    <div class="post-message">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>New topic</mat-label>
        <input matInput type="text" [(ngModel)]="data.newTopicHeading[key()]">
      </mat-form-field>
      <button
        mat-raised-button
        (click)="newTopic(data.newTopicHeading[key()])">
        <mat-icon fontIcon="edit"></mat-icon>Start
      </button>
    </div>
  </section>
</div>
